@use "../settings/settings";

.c-section {
  &.p-process {
    .c-container {
      padding-top: 0;
    }
    .c-section__title {
      padding: .5em 0;
      border-top: 1px solid var(--color-emphasis);
      border-bottom: 1px solid var(--color-emphasis);
      font-size: min(5.5vw, 2em);
      text-align: center;
      @include settings.md {
        padding: 1.25em 0;
        text-align: left;
      }
    }
  }
}

.c-section__title {
  font-size: 2em;
  letter-spacing: .075em;
  color: var(--color-emphasis);
}

.c-section__lead {
  margin-top: 1rem;
  letter-spacing: .075em;
  font-size: 2em;
  line-height: 1.5;
}