@use "../settings/settings";

.c-container {
  max-width: calc(var(--contents-width) + var(--base-gutter) * 2);
  padding: var(--base-gutter) var(--base-gutter);
  margin-left: auto;
  margin-right: auto;
  @include settings.md {
    //margin-left: var(--base-gutter);
    //margin-right: var(--base-gutter);
  }
  @include settings.breakMin(1006px) {
    //margin-left: auto;
    //margin-right: auto;
  }

  &.is-border {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: var(--base-gutter);
      content: '';
      display: block;
      width: calc(100% - var(--base-gutter) * 2);
      height: 1px;
      background-color: var(--color-emphasis);
    }
  }
}

.c-fluid-container {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}
