@use "../settings/settings";

.p-practice {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: var(--base-gutter);
  padding-right: var(--base-gutter);
  background-color: #fffcd9;
  counter-set: practice;
}

.p-practice__list{
  margin-top: calc(var(--base-gutter) * 2);
}
.p-practice__item {
  position: relative;
  padding-block: calc(var(--base-gutter) * 2);
  border-top: 1px dashed var(--color-emphasis);
  counter-increment: practice;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'PRACTICE ' counter(practice) '.';
    display: inline-block;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: .1em;
    color: white;
    background-color: var(--color-emphasis);
    padding: 0 1.5em 1px;
    transform: translateY(-50%);
  }

  &:nth-of-type(1) {
    & > .p-practice__figure {
      grid-template-columns: calc(170 / 547 * 1fr) calc(128 / 547 * 1fr) calc(42 / 547 * 1fr) calc(204 / 547 * 1fr);

      & > img {
        &:nth-of-type(1) {
          grid-column: 1 / 3;
          grid-row: 1 / 2;
        }

        &:nth-of-type(2) {
          grid-column: 3 / 5;
          grid-row: 1 / 2;
        }

        &:nth-of-type(3) {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }

        &:nth-of-type(4) {
          grid-column: 2 / 4;
          grid-row: 2 / 3;
        }

        &:nth-of-type(5) {
          grid-column: 4 / 5;
          grid-row: 2 / 3;
        }
      }
    }
  }

  &:nth-of-type(2) {
    & > .p-practice__figure {
      grid-template-columns: calc(258 / 547 * 1fr) calc(65 / 547 * 1fr) calc(94 / 547 * 1fr) calc(130 / 547 * 1fr);

      & > img {
        &:nth-of-type(1) {
          grid-column: 1 / 3;
          grid-row: 1 / 2;
        }

        &:nth-of-type(2) {
          grid-column: 3 / 5;
          grid-row: 1 / 2;
        }

        &:nth-of-type(3) {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }

        &:nth-of-type(4) {
          grid-column: 2 / 4;
          grid-row: 2 / 3;
        }

        &:nth-of-type(5) {
          grid-column: 4 / 5;
          grid-row: 2 / 3;
        }
      }
    }
  }

  &:nth-of-type(3) {
    & > .p-practice__figure {
      grid-template-columns: calc(258 / 547 * 1fr) calc(289 / 547 * 1fr);

      & > img {
        &:nth-of-type(1) {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }

        &:nth-of-type(2) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }

        &:nth-of-type(3) {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }

        &:nth-of-type(4) {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
        }
      }
    }
  }

  &:nth-of-type(4) {
    & > .p-practice__figure {
      grid-template-columns: calc(258 / 547 * 1fr) calc(289 / 547 * 1fr);

      & > img {
        &:nth-of-type(1) {
          grid-column: 1 / 2;
        }

        &:nth-of-type(2) {
          grid-column: 2 / 3;
        }
      }
    }
  }

  &:nth-of-type(5) {
    & > .p-practice__figure {
      grid-template-columns: calc(170 / 544 * 1fr) calc(45 / 544 * 1fr) calc(138 / 544 * 1fr) calc(23 / 544 * 1fr) calc(181 / 544 * 1fr);

      & > img {
        &:nth-of-type(1) {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }

        &:nth-of-type(2) {
          grid-column: 2 / 4;
          grid-row: 1 / 2;
        }

        &:nth-of-type(3) {
          grid-column: 4 / 6;
          grid-row: 1 / 2;
        }

        &:nth-of-type(4) {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
        }

        &:nth-of-type(5) {
          grid-column: 3 / 5;
          grid-row: 2 / 3;
        }

        &:nth-of-type(6) {
          grid-column: 5 / 6;
          grid-row: 2 / 3;
        }
      }
    }
  }
}

.p-practice__title {
  margin-block: 0;
  font-size: 2em;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: .075em;
}

.p-practice__figure {
  display: grid;
  gap: 3px;
  margin-top: 1.5em;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}