@use "../settings/settings";

.p-vegecam {
  position: relative;

  & > .c-container {
    &:nth-of-type(2) {
      padding-bottom: calc(var(--base-gutter) * 4.5);
    }

    @include settings.lg {
      padding-right: 440px;
    }
  }

  .c-section__lead {
    font-size: 1.8em;
  }
}

.p-vegecam__figure {
  display: none;
  position: absolute;
  bottom: 0;
  right: calc((100vw - var(--contents-width)) / 2);
  height: 100%;
  @include settings.lg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .p-vegecam__image {
    width: 45%;
  }
}