@use "../settings/settings";

.p-wakuwaku {

}

.p-wakuwaku__title {
  letter-spacing: .1em;
  font-weight: bold;
  font-size: clamp(29px, 4.6vw, 48px);
}

.p-wakuwaku__text {
  line-height: 2;
  text-align: left;
  font-size: clamp(16px, 2.7vw, 25px);
  @include settings.md {
    text-align: center;
    & > span {
      display: block;
    }
    & > br {
      display: none;
    }
  }
}

.p-wakuwaku__images1 {
  display: flex;
  margin-top: 30px;
  background: url(../images/wakuwaku1-bg.png) no-repeat left -100px bottom 10px/auto 100px;
  @include settings.sm {
    background-position: center bottom 50px;
    background-size: auto 150px;
  }
  @include settings.md {
    margin-top: 50px;
  }
  @include settings.lg {
    background-position: center bottom 180px;
    background-size: auto 190px;
  }

  & > figure {
    &:nth-of-type(1) {
      margin-right: -4%;
      padding-top: 30%;
      background: url(../images/wakuwaku-butterfly.png) no-repeat center 15%/60%;
      @include settings.lg {
        margin-right: 0;
        padding-top: 11%;
        background: url(../images/wakuwaku-butterfly.png) no-repeat 60% 1%/40%;
      }
    }

    &:nth-of-type(2) {
      margin-left: -4%;
      @include settings.lg {
        margin-left: 0;
      }
    }
  }
}

.p-wakuwaku__images2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  background-image: url(../images/recommend1-bg.png),
  url(../images/recommend2-bg.png),
  url(../images/recommend2-bg.png),
  url(../images/butterfly.png),
  url(../images/butterfly.png),
  url(../images/butterfly.png);
  background-position: left -70px top 17%,
  right -130px top 6%,
  left -190px bottom 8%,
  right 10% top,
  right 4% top 32%,
  left 6% bottom 3%;
  background-repeat: no-repeat;
  background-size: auto 100px, auto 100px, auto 100px, 55px, 49px, 55px;
  @include settings.sm {
    background-position: left -10px top 18%,
    right -180px top 16%,
    left -20px bottom 12%,
    right 27% top,
    right 8% top 25%,
    left 7% bottom 5%;
  }
  @include settings.md {
    background-image: url(../images/recommend1-bg.png),
    url(../images/recommend2-bg.png),
    url(../images/recommend2-bg.png),
    url(../images/butterfly.png),
    url(../images/butterfly.png),
    url(../images/butterfly.png),
    url(../images/wakuwaku3-bird.png);
    background-position: left -70px top 17%,
    right -180px top 16%,
    left -60px bottom 6%,
    right 27% top,
    right 8% top 25%,
    left 7% bottom 3%,
    right 10% bottom 26%;
    background-size: auto 150px, auto 150px, auto 150px, 55px, 49px, 55px, 130px;
  }
  @include settings.lg {
    background-position: right calc(50vw + 190px) top 19%,
    left calc(50vw + 20px) top,
    right calc(50vw + 40px) bottom 19%,
    right calc(50vw + 470px) top,
    left calc(50vw + 400px) top 17%,
    right calc(50vw + 250px) bottom 9%,
    left calc(50vw + 360px) bottom 35%;
    background-size: auto 170px, auto 170px, auto 170px, 55px, 55px, 55px, 150px;
  }

  & > figure {
    &:nth-of-type(1) {
      flex-basis: 95%;
      transform: translateX(-40px);
      @include settings.sm {
        flex-basis: 72%;
        transform: translateX(-50px);
      }
      @include settings.md {
        flex-basis: 65%;
        transform: translateX(-30px);
      }
      @include settings.lg {
        flex-basis: 60%;
        transform: translateX(-30px);
      }
    }

    &:nth-of-type(2) {
      margin-left: calc(50% - 50vw);
      margin-top: -70%;

      img {
        max-width: 122%;
        transform: translateX(21%);
      }

      @include settings.sm {
        margin-top: -72%;
        img {
          max-width: 101%;
          transform: translateX(36%);
        }
      }
      @include settings.md {
        margin-top: -36%;
        img {
          max-width: 87%;
          transform: translateX(16%);
        }
      }
      @include settings.lg {
        margin-top: -50%;
        margin-left: 0;
        img {
          max-width: 76%;
          transform: translateX(26%);
        }
      }
    }

    &:nth-of-type(3) {
      margin-top: -10%;
      transform: translateX(-18px);
      flex-basis: 100%;

      img {
        max-width: 110%;
      }

      @include settings.sm {
        img {
          max-width: 100%;
        }
      }
      @include settings.md {
        img {
          max-width: 96%;
        }
      }
      @include settings.lg {
        margin-top: -20%;
        transform: translateX(-80px);

        img {
          max-width: 85%;
        }
      }
    }

    &:nth-of-type(4) {
      transform: translateX(20%);
      flex-basis: 100%;
      @include settings.sm {
        img {
          max-width: 92%;
        }
      }
      @include settings.md {
        margin-top: -6%;
        img {
          max-width: 83%;
        }
      }
      @include settings.lg {
        margin-top: -18%;
        transform: translateX(25%);
        img {
          max-width: 78%;
        }
      }
    }
  }
}

.p-wakuwaku__message {
  max-width: 623px;
  margin-inline: auto;
}

.p-wakuwaku__images3 {
  margin-top: 40px;
  background-image: url(../images/wakuwaku4-bg.png),
  url(../images/wakuwaku5-bg.png),
  url(../images/wakuwaku4-bg.png),
  url(../images/butterfly.png),
  url(../images/butterfly.png);
  background-position: left top 17%,
  right 120% top 46%,
  left 80% bottom 8%,
  right 17% top 2%,
  left bottom 34%;
  background-repeat: no-repeat;
  background-size: auto 120px, auto 120px, auto 150px, 55px, 55px;

  @include settings.sm {
    background-position: left -120px top 14%,
    right -490px top 47%,
    left -20px bottom 8%,
    right 17% top 2%,
    left bottom 34%;
    background-size: auto 190px, auto 190px, auto 190px, 55px, 55px;
  }

  @include settings.md {
    background-image: url(../images/wakuwaku4-bg.png),
    url(../images/wakuwaku4-bg.png),
    url(../images/butterfly.png);
    background-position: right -20px top 32%,
    left bottom 10%,
    left 10% bottom 42%;
    background-size: auto 150px, auto 150px, 55px;
  }
  @include settings.lg {
    background-image: url(../images/wakuwaku4-bg.png),
    url(../images/wakuwaku6-bg.png),
    url(../images/butterfly.png);
    background-position: left calc(50vw - 120px) top 32%,
    right calc(50vw - 360px) bottom 10%,
    right calc(50vw + 350px) bottom 45%;
    background-size: auto 190px, auto 190px, 55px;
  }

  & > figure {
    &:nth-of-type(1) {
      text-align: left;

      img {
        max-width: 55%;
      }

      @include settings.md {
        img {
          max-width: 42%;
        }
      }
    }

    &:nth-of-type(2) {
      margin-top: -25px;
      text-align: right;

      img {
        max-width: 55%;
      }

      @include settings.md {
        margin-top: -30%;
        img {
          max-width: 42%;
        }
      }
    }

    &:nth-of-type(3) {
      margin-top: 10px;
      text-align: left;

      img {
        max-width: 75%;
      }

      @include settings.sm {
        margin-top: 20px;
      }
      @include settings.md {
        img {
          margin-top: -3%;
          margin-left: 15%;
          max-width: 50%;
        }
      }
      @include settings.lg {
        margin-top: -15px;
      }
    }
  }
}