@use "../settings/settings";

.teacher-voice {
  padding-top: calc(var(--base-gutter) * 2);
  padding-bottom: calc(var(--base-gutter) * 2);
  background-color: #FEEFC0;
  box-shadow: var(--box-shadow);
  @include settings.lg {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    padding-top: calc(var(--base-gutter) * .25);
    padding-bottom: calc(var(--base-gutter) * 1);
    border-radius: 2rem;
    font-size: .8rem;
    line-height: 1.6;
    .section-title {
      grid-column: 1/2;
      grid-row: 1/2;
      white-space: nowrap;
      margin-left: 0;
      margin-right: 2rem;

      &::before {
        top: -32px;
        left: -34px;
      }
    }
    .teacher-voice-lead {
      grid-column: 2/3;
      grid-row: 1/2;
      margin: 0;
      line-height: 1.4;
      text-align: left;
    }
    .teacher-voice-list {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
}

.teacher-voice-list {
  @include settings.lg {
    display: flex;
    gap: 20px;
    margin-top: .5rem;
    .teacher-voice-item {
      flex: 1;

      & + .teacher-voice-item {
        margin-top: 0;
      }

      .teacher-voice-item__title {
        font-size: 1.2rem;
        line-height: 1.2;

        & > span {
          font-size: .8rem;
        }
      }

      .teacher-voice-item__content {
        font-size: .8rem;
        line-height: 1.6;
      }
    }
  }
}

.teacher-voice-lead {
  margin-top: .25rem;
  text-align: center;
}

.teacher-voice-item {
  & + .teacher-voice-item {
    margin-top: 2.5rem;
  }
}

.teacher-voice-item__title {
  & > span {
    font-size: .9rem;
  }
}

.teacher-voice-item__content {
  margin-top: .5rem;
  line-height: 1.7;
  font-size: .9rem;
}