@charset "UTF-8";
:root {
  --base-gutter: 20px;
  --break-sm: 576px;
  --break-md: 768px;
  --break-lg: 1006px;
  --box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  --contents-width: 1012px;
  --color-font: #333333;
  --color-emphasis: #DB0A17;
  --color-accent: #00964D;
}

/* Document
 * ========================================================================== */
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */
:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
  text-size-adjust: 100%; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
:where(body) {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 */
:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
:where(nav li)::before {
  content: "​";
  float: left;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color in Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: currentColor; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */
:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */
:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where([type=search i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in Safari.
 */
:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
:where([aria-busy=true i]) {
  cursor: progress;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.u-emphasis {
  color: #DB0A17;
}

.u-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .u-visible--md {
    display: block;
  }
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-mt-1 {
  margin-top: var(--base-gutter);
}

@media screen and (min-width: 1006px) {
  :root {
    --box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
  }
}
html {
  font-size: 14px;
}

body {
  padding-bottom: 30px;
  font-family: "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  line-height: 1.85;
  background-color: #fef3f0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

main {
  padding-top: var(--base-gutter);
  padding-bottom: var(--base-gutter);
}

strong {
  font-weight: normal;
  background: linear-gradient(transparent 60%, #ffe67a 60%, #ffe67a 90%, transparent 90%);
}

ul, ol {
  list-style: none;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.lead {
  font-size: 1.2rem;
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}
h3 > span {
  font-size: 1rem;
}

.signature {
  text-align: right;
  line-height: 1.2;
  font-size: 1.5rem;
}
.signature > span {
  font-size: 0.9rem;
}
@media screen and (min-width: 1006px) {
  .signature {
    font-size: 1.1rem;
  }
  .signature > span {
    font-size: 0.8rem;
  }
}

figure {
  margin: 0;
}

.c-container {
  max-width: calc(var(--contents-width) + var(--base-gutter) * 2);
  padding: var(--base-gutter) var(--base-gutter);
  margin-left: auto;
  margin-right: auto;
}
.c-container.is-border {
  position: relative;
}
.c-container.is-border::before {
  position: absolute;
  top: 0;
  left: var(--base-gutter);
  content: "";
  display: block;
  width: calc(100% - var(--base-gutter) * 2);
  height: 1px;
  background-color: var(--color-emphasis);
}

.c-fluid-container {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

.c-section {
  overflow-x: hidden;
}

.p-key-visual__title {
  width: 90%;
  margin: -16% auto 0;
}

.p-wakuwaku__title {
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: clamp(29px, 4.6vw, 48px);
}

.p-wakuwaku__text {
  line-height: 2;
  text-align: left;
  font-size: clamp(16px, 2.7vw, 25px);
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__text {
    text-align: center;
  }
  .p-wakuwaku__text > span {
    display: block;
  }
  .p-wakuwaku__text > br {
    display: none;
  }
}

.p-wakuwaku__images1 {
  display: flex;
  margin-top: 30px;
  background: url(../images/wakuwaku1-bg.png) no-repeat left -100px bottom 10px/auto 100px;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images1 {
    background-position: center bottom 50px;
    background-size: auto 150px;
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images1 {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images1 {
    background-position: center bottom 180px;
    background-size: auto 190px;
  }
}
.p-wakuwaku__images1 > figure:nth-of-type(1) {
  margin-right: -4%;
  padding-top: 30%;
  background: url(../images/wakuwaku-butterfly.png) no-repeat center 15%/60%;
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images1 > figure:nth-of-type(1) {
    margin-right: 0;
    padding-top: 11%;
    background: url(../images/wakuwaku-butterfly.png) no-repeat 60% 1%/40%;
  }
}
.p-wakuwaku__images1 > figure:nth-of-type(2) {
  margin-left: -4%;
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images1 > figure:nth-of-type(2) {
    margin-left: 0;
  }
}

.p-wakuwaku__images2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  background-image: url(../images/recommend1-bg.png), url(../images/recommend2-bg.png), url(../images/recommend2-bg.png), url(../images/butterfly.png), url(../images/butterfly.png), url(../images/butterfly.png);
  background-position: left -70px top 17%, right -130px top 6%, left -190px bottom 8%, right 10% top, right 4% top 32%, left 6% bottom 3%;
  background-repeat: no-repeat;
  background-size: auto 100px, auto 100px, auto 100px, 55px, 49px, 55px;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 {
    background-position: left -10px top 18%, right -180px top 16%, left -20px bottom 12%, right 27% top, right 8% top 25%, left 7% bottom 5%;
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images2 {
    background-image: url(../images/recommend1-bg.png), url(../images/recommend2-bg.png), url(../images/recommend2-bg.png), url(../images/butterfly.png), url(../images/butterfly.png), url(../images/butterfly.png), url(../images/wakuwaku3-bird.png);
    background-position: left -70px top 17%, right -180px top 16%, left -60px bottom 6%, right 27% top, right 8% top 25%, left 7% bottom 3%, right 10% bottom 26%;
    background-size: auto 150px, auto 150px, auto 150px, 55px, 49px, 55px, 130px;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images2 {
    background-position: right calc(50vw + 190px) top 19%, left calc(50vw + 20px) top, right calc(50vw + 40px) bottom 19%, right calc(50vw + 470px) top, left calc(50vw + 400px) top 17%, right calc(50vw + 250px) bottom 9%, left calc(50vw + 360px) bottom 35%;
    background-size: auto 170px, auto 170px, auto 170px, 55px, 55px, 55px, 150px;
  }
}
.p-wakuwaku__images2 > figure:nth-of-type(1) {
  flex-basis: 95%;
  transform: translateX(-40px);
}
.p-wakuwaku__images2 > figure:nth-of-type(1)::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 44%;
  width: 70px;
  height: 60px;
  background: url(../images/recommend-step2.png) no-repeat center/contain;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(1)::before {
    top: 38%;
    left: 62%;
    width: 100px;
    height: 70px;
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images2 > figure:nth-of-type(1)::before {
    top: 64%;
    left: 56%;
    width: 100px;
    height: 70px;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images2 > figure:nth-of-type(1)::before {
    top: 49%;
    left: 65%;
    width: 140px;
    height: 100px;
  }
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(1) {
    flex-basis: 72%;
    transform: translateX(-50px);
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images2 > figure:nth-of-type(1) {
    flex-basis: 65%;
    transform: translateX(-30px);
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images2 > figure:nth-of-type(1) {
    flex-basis: 60%;
    transform: translateX(-30px);
  }
}
.p-wakuwaku__images2 > figure:nth-of-type(2) {
  margin-left: calc(50% - 50vw);
  margin-top: -70%;
  position: relative;
}
.p-wakuwaku__images2 > figure:nth-of-type(2)::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 10%;
  left: 17%;
  width: 110px;
  height: 60px;
  background: url(../images/recommend-step3.png) no-repeat center/contain;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(2)::before {
    bottom: 15%;
    left: 27%;
    width: 160px;
    height: 80px;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images2 > figure:nth-of-type(2)::before {
    bottom: 23%;
    left: 25%;
    width: 240px;
    height: 120px;
  }
}
.p-wakuwaku__images2 > figure:nth-of-type(2) img {
  max-width: 122%;
  transform: translateX(21%);
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(2) {
    margin-top: -72%;
  }
  .p-wakuwaku__images2 > figure:nth-of-type(2) img {
    max-width: 101%;
    transform: translateX(36%);
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images2 > figure:nth-of-type(2) {
    margin-top: -36%;
  }
  .p-wakuwaku__images2 > figure:nth-of-type(2) img {
    max-width: 87%;
    transform: translateX(16%);
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images2 > figure:nth-of-type(2) {
    margin-top: -50%;
    margin-left: 0;
  }
  .p-wakuwaku__images2 > figure:nth-of-type(2) img {
    max-width: 76%;
    transform: translateX(26%);
  }
}
.p-wakuwaku__images2 > figure:nth-of-type(3) {
  margin-top: -10%;
  transform: translateX(-18px);
  flex-basis: 100%;
}
.p-wakuwaku__images2 > figure:nth-of-type(3) img {
  max-width: 110%;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(3) img {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images2 > figure:nth-of-type(3) img {
    max-width: 96%;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images2 > figure:nth-of-type(3) {
    margin-top: -20%;
    transform: translateX(-80px);
  }
  .p-wakuwaku__images2 > figure:nth-of-type(3) img {
    max-width: 85%;
  }
}
.p-wakuwaku__images2 > figure:nth-of-type(4) {
  transform: translateX(20%);
  flex-basis: 100%;
  position: relative;
}
.p-wakuwaku__images2 > figure:nth-of-type(4)::before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 40px;
  height: 50px;
  background: url(../images/recommend-step4.png) no-repeat center/contain;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(4)::before {
    right: 96%;
    width: 70px;
    height: 80px;
  }
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(4)::before {
    content: none;
  }
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images2 > figure:nth-of-type(4) img {
    max-width: 92%;
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images2 > figure:nth-of-type(4) {
    margin-top: -6%;
  }
  .p-wakuwaku__images2 > figure:nth-of-type(4) img {
    max-width: 83%;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images2 > figure:nth-of-type(4) {
    margin-top: -18%;
    transform: translateX(25%);
  }
  .p-wakuwaku__images2 > figure:nth-of-type(4) img {
    max-width: 78%;
  }
}

.p-wakuwaku__message {
  max-width: 623px;
  margin-inline: auto;
}

.p-wakuwaku__images3 {
  margin-top: 40px;
  background-image: url(../images/wakuwaku4-bg.png), url(../images/wakuwaku5-bg.png), url(../images/wakuwaku4-bg.png), url(../images/butterfly.png), url(../images/butterfly.png);
  background-position: left top 17%, right 120% top 46%, left 80% bottom 8%, right 17% top 2%, left bottom 34%;
  background-repeat: no-repeat;
  background-size: auto 120px, auto 120px, auto 150px, 55px, 55px;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images3 {
    background-position: left -120px top 14%, right -490px top 47%, left -20px bottom 8%, right 17% top 2%, left bottom 34%;
    background-size: auto 190px, auto 190px, auto 190px, 55px, 55px;
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images3 {
    background-image: url(../images/wakuwaku4-bg.png), url(../images/wakuwaku4-bg.png), url(../images/butterfly.png);
    background-position: right -20px top 32%, left bottom 10%, left 10% bottom 42%;
    background-size: auto 150px, auto 150px, 55px;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images3 {
    background-image: url(../images/wakuwaku4-bg.png), url(../images/wakuwaku6-bg.png), url(../images/butterfly.png);
    background-position: left calc(50vw - 120px) top 32%, right calc(50vw - 360px) bottom 10%, right calc(50vw + 350px) bottom 45%;
    background-size: auto 190px, auto 190px, 55px;
  }
}
.p-wakuwaku__images3 > figure:nth-of-type(1) {
  text-align: left;
}
.p-wakuwaku__images3 > figure:nth-of-type(1) img {
  max-width: 55%;
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images3 > figure:nth-of-type(1) img {
    max-width: 42%;
  }
}
.p-wakuwaku__images3 > figure:nth-of-type(2) {
  margin-top: -25px;
  text-align: right;
}
.p-wakuwaku__images3 > figure:nth-of-type(2) img {
  max-width: 55%;
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images3 > figure:nth-of-type(2) {
    margin-top: -30%;
  }
  .p-wakuwaku__images3 > figure:nth-of-type(2) img {
    max-width: 42%;
  }
}
.p-wakuwaku__images3 > figure:nth-of-type(3) {
  margin-top: 10px;
  text-align: left;
}
.p-wakuwaku__images3 > figure:nth-of-type(3) img {
  max-width: 75%;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku__images3 > figure:nth-of-type(3) {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .p-wakuwaku__images3 > figure:nth-of-type(3) img {
    margin-top: -3%;
    margin-left: 15%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1006px) {
  .p-wakuwaku__images3 > figure:nth-of-type(3) {
    margin-top: -15px;
  }
}

.p-message__title {
  margin-top: 20px;
}
.p-message__title > img {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .p-message__title {
    background: url(../images/butterfly.png) no-repeat right 20% center/55px;
  }
  .p-message__title > img {
    width: 65%;
  }
}

.p-message__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 2rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  font-size: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 576px) {
  .p-message__item {
    gap: 30px;
    flex-direction: row;
    padding: 2rem;
  }
}
@media screen and (min-width: 1006px) {
  .p-message__item {
    margin-top: 40px;
  }
}
.p-message__item:nth-of-type(1) > .p-message__figure {
  min-width: 110px;
  max-width: 200px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .p-message__item:nth-of-type(1) > .p-message__figure {
    min-width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .p-message__item:nth-of-type(1) {
    position: relative;
    width: 75%;
  }
  .p-message__item:nth-of-type(1)::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 25%;
    aspect-ratio: 1/1;
    background: url(../images/message1-bg.png) no-repeat center/contain;
    transform: translate(120%, -50%);
  }
}
@media screen and (min-width: 576px) {
  .p-message__item:nth-of-type(2) {
    flex-direction: row-reverse;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .p-message__item:nth-of-type(2) {
    width: 85%;
  }
}
.p-message__item:nth-of-type(2) > .p-message__figure {
  min-width: 160px;
  max-width: 220px;
  margin-right: auto;
}
@media screen and (min-width: 576px) {
  .p-message__item:nth-of-type(2) > .p-message__figure {
    background: #fff url(../images/message2-bg.png) no-repeat center bottom/120px;
  }
}
@media screen and (min-width: 768px) {
  .p-message__item:nth-of-type(2) > .p-message__figure {
    min-width: 180px;
    background-image: none;
  }
}

.p-message__item-title {
  letter-spacing: 0.1em;
  color: #ee8593;
}
@media screen and (min-width: 1006px) {
  .p-message__item-title > br {
    display: none;
  }
}

.p-message__item-hr {
  display: block;
  margin-top: 10px;
}

.p-message__figcaption {
  margin-top: 5px;
  text-align: center;
  line-height: 1.5;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .p-message__figcaption {
    font-size: 15px;
  }
}

.p-message__item-text {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .p-wakuwaku-land {
    display: flex;
    gap: 20px;
  }
  .p-wakuwaku-land > div {
    width: 50%;
    min-width: 50%;
  }
}

.p-wakuwaku-land__title {
  display: flex;
  align-items: center;
  line-height: 1.3;
  font-size: min(5vw, 26px);
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .p-wakuwaku-land__title {
    font-size: min(2.6vw, 26px);
  }
}

.p-wakuwaku-land__icon {
  width: 62px;
  margin-right: 10px;
}

.p-wakuwaku-land__sub-title {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.p-wakuwaku-land__list {
  padding: 0;
  line-height: 1.3;
}
@media screen and (min-width: 576px) {
  .p-wakuwaku-land__list {
    padding: 0 0.5em 0;
    font-size: 18px;
  }
}

.p-wakuwaku-land__item {
  display: flex;
  gap: 10px;
}
.p-wakuwaku-land__item::before {
  content: "";
  display: block;
}
.p-wakuwaku-land__item.p-wakuwaku-land__item {
  margin-top: 1em;
}
.p-wakuwaku-land__item:nth-of-type(1)::before {
  margin-top: 4px;
  min-width: 23px;
  height: 21px;
  background: url(../images/wakuwaku-land-1.png) no-repeat center/contain;
}
.p-wakuwaku-land__item:nth-of-type(2)::before {
  margin-top: 1px;
  min-width: 23px;
  height: 21px;
  background: url(../images/wakuwaku-land-2.png) no-repeat center/contain;
}

.p-wakuwaku-land__hr {
  vertical-align: baseline;
}

.p-wakuwaku-land__sub-list {
  padding-left: 1.5em;
}

.p-wakuwaku-land__sub-item {
  list-style-type: disc;
}

.p-wakuwaku-land__information {
  margin-top: 4em;
  font-size: 17px;
  text-align: center;
}
.p-wakuwaku-land__information > p {
  margin-top: 0.5em;
}
@media screen and (min-width: 768px) {
  .p-wakuwaku-land__information {
    margin-top: 1em;
    text-align: left;
  }
  .p-wakuwaku-land__information > p {
    margin-top: 1em;
    line-height: 1.4;
  }
}

.p-fullness {
  margin-top: 30px;
  padding: 2rem 1rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1006px) {
  .p-fullness {
    margin-top: 40px;
  }
}

.p-fullness__title {
  text-align: center;
}

.p-fullness__sub-title {
  font-size: 18px;
}

.p-fullness__title--main {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  font-size: min(3.6vw, 17px);
}
.p-fullness__title--main > span {
  font-size: min(5.3vw, 27px);
  vertical-align: bottom;
}

.p-fullness__badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background: url(../images/point-bg.png) no-repeat center/contain;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
.p-fullness__badge > span {
  display: block;
  color: white;
  line-height: 1;
}
.p-fullness__badge > span:nth-of-type(1) {
  font-size: 14px;
}
.p-fullness__badge > span:nth-of-type(2) {
  font-size: 10px;
  transform: scale(0.85);
  transform-origin: bottom;
}
.p-fullness__badge > span:nth-of-type(3) {
  font-size: 15px;
}

.p-fullness__list {
  margin-top: 30px;
  padding-left: 0;
}
@media screen and (min-width: 1006px) {
  .p-fullness__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: 30px;
    padding: 0 1rem;
  }
}

.p-fullness__item {
  display: grid;
  padding-left: 20px;
  grid-template: auto 1fr/65px 1fr;
  grid-template-areas: "badge title" "image image";
  gap: 6px;
}
@media screen and (min-width: 576px) {
  .p-fullness__item {
    grid-template: 1fr/1fr 65px 1fr;
    grid-template-areas: "image badge title";
    align-items: center;
    gap: 15px;
  }
}
@media screen and (min-width: 1006px) {
  .p-fullness__item {
    grid-template: auto 1fr/65px 1fr;
    grid-template-areas: "badge title" "image image";
    gap: 0;
    padding-left: 0;
  }
}
.p-fullness__item + .p-fullness__item {
  margin-top: 15px;
}
@media screen and (min-width: 1006px) {
  .p-fullness__item + .p-fullness__item {
    margin-top: 0;
  }
}
.p-fullness__item:nth-of-type(1) {
  grid-template: auto auto 1fr/65px 1fr;
  grid-template-areas: "badge title" "badge note" "image image";
}
@media screen and (min-width: 576px) {
  .p-fullness__item:nth-of-type(1) {
    grid-template: 1fr/1fr 65px 1fr;
    grid-template-areas: "image badge title";
  }
  .p-fullness__item:nth-of-type(1) .p-fullness__item-title {
    margin: 0;
  }
  .p-fullness__item:nth-of-type(1) .p-fullness__note {
    grid-area: title;
    padding-right: 1em;
    transform: translateY(4em);
  }
}
@media screen and (min-width: 1006px) {
  .p-fullness__item:nth-of-type(1) {
    grid-template: auto 1fr auto/65px 1fr;
    grid-template-areas: "badge title" "image image" "note note";
    gap: 0;
  }
  .p-fullness__item:nth-of-type(1) .p-fullness__item-title {
    margin: 0 0 1.33em -10px;
  }
  .p-fullness__item:nth-of-type(1) .p-fullness__note {
    grid-area: note;
    margin-top: 5px;
    padding: 0;
    transform: none;
  }
}
.p-fullness__item .p-fullness__badge {
  grid-area: badge;
}
@media screen and (min-width: 1006px) {
  .p-fullness__item .p-fullness__badge {
    margin-left: -10px;
  }
}
.p-fullness__item .p-fullness__item-title {
  grid-area: title;
  font-size: 15px;
}
@media screen and (min-width: 1006px) {
  .p-fullness__item .p-fullness__item-title {
    margin-left: -10px;
    margin-top: 0;
    font-weight: normal;
  }
}
.p-fullness__item .p-fullness__note {
  grid-area: note;
  margin-top: -20px;
  font-size: 12px;
}
.p-fullness__item .p-fullness__image {
  grid-area: image;
}
@media screen and (min-width: 1006px) {
  .p-fullness__item .p-fullness__image {
    margin-top: -22px;
  }
}

.p-footer > .c-container {
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .p-footer > .c-container {
    padding-top: calc(var(--base-gutter) * 1.5);
    padding-bottom: calc(var(--base-gutter) * 4);
  }
}

.p-attention {
  margin-top: 0;
  font-size: 12px;
}

.c-cta-button {
  display: flex;
  max-width: 320px;
  height: 90px;
  justify-content: center;
  align-items: center;
  margin: var(--base-gutter) auto 0;
  padding: 0.5em 1em;
  color: var(--color-font);
  background-color: #ffe67a;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}
@media screen and (min-width: 768px) {
  .c-cta-button {
    max-width: calc((100% - var(--base-gutter) * 2) / 2);
    width: calc((100% - var(--base-gutter) * 2) / 2);
    margin: 0;
    font-size: 20px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    transition: filter 0.3s ease-in-out;
  }
  .c-cta-button:hover {
    filter: brightness(0.8);
  }
}
@media screen and (min-width: 1006px) {
  .c-cta-button {
    font-size: 24px;
  }
}
.c-cta-button + .c-cta-button {
  margin-top: calc(var(--base-gutter) * 1.5);
}
@media screen and (min-width: 768px) {
  .c-cta-button + .c-cta-button {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--base-gutter) * 2);
  }
}

/*# sourceMappingURL=style.css.map */
